name: Deploy MTA-STS

on:
  push:
    branches: [main]
    paths:
      - 'mta-sts/**'
      - '.github/workflows/mta-sts.yml'
  workflow_dispatch:

permissions:
  contents: read
  deployments: write

jobs:
  publish:
    runs-on: ubuntu-latest
    name: Publish to Cloudflare Pages
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: mta-sts-mdekort-nl
          directory: mta-sts
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
